.contact {
  padding: 9.6rem 0;
}

.contact-background {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20rem 9.6rem 9.6rem 2rem;
  height: 70rem;
  width: 45rem;
}

.contact-background::before {
  content: "";
  background-image: url(/content/contact/contact-background.jpg);
  background-position: 27% 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
  z-index: -2;
}

.contact-textbox {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  text-align: center;
}

.contact-greetings {
  /* color: #6f6f6f; */
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
  padding: 0;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.contact-link {
  /* color: #6f6f6f; */
  color: #666;
  text-decoration: none;
}

.footer {
  /* margin-top: 9.6rem; */
  /* position: fixed; */
  display: block;
  bottom: 0px;
  width: 100%;
}

/* .contact-img {
  display: block;
  margin: 0 auto;
  width: 60rem;
} */

/* .contact-form {
  display: none;

  color: #6f6f6f;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.contact-form .grid {
  gap: 2rem;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.3rem;
}
.contact-form input {
  height: 3.8rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 2rem;
}

.btn--form {
  cursor: pointer;
  padding: 1.6rem 3rem;
} */
