.contact {
  padding: 9.6rem 0;
}

.contact-textbox {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  text-align: center;
}

.contact-greetings {
  color: #6f6f6f;
  margin-bottom: 4.8rem;
  font-size: 1.8rem;
}

.contact-title {
  margin-bottom: 3.2rem;
}

.contact-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.contact-link {
  color: #6f6f6f;
  text-decoration: none;
}

.contact-img {
  display: block;
  margin: 0 auto;
  width: 60rem;
}

/* .contact-form {
  display: none;

  color: #6f6f6f;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.contact-form .grid {
  gap: 2rem;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.3rem;
}
.contact-form input {
  height: 3.8rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 2rem;
}

.btn--form {
  cursor: pointer;
  padding: 1.6rem 3rem;
} */
