.contact {
  padding: 12.8rem 0;
}

.contact-imgbox {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  /* align-self: center; */
  /* justify-self: center;   */
}

.contact-imgbox img {
  margin-bottom: 1rem;
  width: 70%;
  margin-left: 10rem;
}

.text-location {
  margin-bottom: 2rem;
}

.email-link {
  color: #6f6f6f;
  text-decoration: none;
}

.contact-textbox {
  font-size: 2rem;
}

.contact-title {
  margin-bottom: 3.2rem;
}

.contact-greetings {
  margin-bottom: 4.2rem;
}

.contact-greetings span {
  font-size: 2.2rem;
}

.contact-form {
  display: none;

  color: #6f6f6f;
  font-size: 1.4rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
}

.contact-form .grid {
  gap: 2rem;
}

.contact-form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.3rem;
}
.contact-form input {
  height: 3.8rem;
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form textarea {
  width: 100%;
  margin-bottom: 2rem;
}

.btn--form {
  cursor: pointer;
  padding: 1.6rem 3rem;
}
