.info-header {
  height: 15vh;
  background-image: url(/content/header-img.jpg);
}

/* SECTION INFO */
.info-about {
  padding: 9.6rem 0;
}

.about-textbox {
  text-align: center;
  align-self: center;
}

.about-text {
  font-size: 1.8rem;
}

.about-text span {
  font-style: italic;
}
