.info-header {
  height: 15vh;
  background-image: url(/content/header-img.jpg);
}

/* SECTION INFO */
.info-about {
  padding: 9.6rem 0;
}

.info-about .grid {
  align-items: center;
}

.about-textbox {
  text-align: center;
  align-self: center;
}

.about-title {
  letter-spacing: 0.4rem;
}

.about-imgbox img {
  width: 90%;
}

.about-text {
  font-size: 1.8rem;
}

.about-text span {
  font-style: italic;
}

/* SECTION FAQ */

.info-questions {
  background-color: #f6f6f6;
  padding: 9.6rem 0;
}

.info-questions .grid {
  row-gap: 8rem;
}

.questions-title {
  letter-spacing: 0.4rem;
}

.questions-title {
  text-align: center;
  margin-bottom: 6.8rem;
}

.question-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
}

.question-answer {
  font-size: 2rem;
}

/*  SECTION INVESTMENT*/

.info-investment {
  padding: 12.6rem 0;
}

.info-investment .grid {
  max-height: 40rem;
}

.investment-title {
  text-align: center;
  margin-bottom: 12.2rem;
  letter-spacing: 0.4rem;
}

.investment {
  margin-bottom: 14rem;
  align-items: center;
}

.investment-imgbox img {
  height: 100%;
  width: 100%;
}

.investment-text {
  font-size: 2rem;
  margin-bottom: 3.4rem;
}

.investment-list {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
