/* SECTION INFO */
.info-about {
  padding: 9.6rem 2rem;
}

.info-about .grid {
  align-items: center;
}

/* .about-title {
  text-align: center;
  margin-bottom: 6.8rem;
} */

.about-textbox {
  text-align: center;
  align-self: center;
}

.about-imgbox img {
  width: 90%;
}

.about-text {
  font-size: 1.8rem;
}

.about-text span {
  font-style: italic;
}

/* SECTION FAQ  */
/* .info-questions {
  background-color: #f6f6f6;
  padding: 9.6rem 0;
}

.info-questions .grid {
  row-gap: 8rem;
}

.questions-title {
  letter-spacing: 0.4rem;
}

.questions-title {
  text-align: center;
  margin-bottom: 6.8rem;
}

.question-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.question-answer {
  font-size: 2rem;
} */

/*  SECTION SESSION*/

.info-session {
  padding: 12.6rem 2rem;
  background-color: #f6f6f6;
}

.session-title {
  text-align: center;
  margin-bottom: 12.2rem;
}

.session {
  margin-bottom: 14rem;
  align-items: center;
}

.session-imgbox img {
  height: 100%;
  width: 100%;
}

.session-text {
  font-size: 2rem;
  margin-bottom: 3.4rem;
}

.session-list {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 500;
}
