.small-header {
  height: 30vh;
  position: relative;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 12.8rem;

  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #fff; */
}

.section-portfolio {
  padding: 12.8rem 2rem;
}

.section-portfolio .grid {
  justify-items: center;
  align-items: center;
  gap: 4.2rem;
}

.portfolio-img {
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
}

.portfolio-name {
  font-size: 2rem;
  text-align: center;
  font-size: 2.8rem;
}
