.section-portfolio {
  padding: 12.2rem;
}

.section-portfolio .grid {
  justify-items: center;
  align-items: center;
  gap: 4.2rem;
}

.portfolio-img {
  height: 40rem;
  width: 60rem;
  margin-bottom: 0.5rem;
}

.portfolio-name {
  font-size: 2rem;
  text-align: center;
}
