.section-portfolio {
  padding: 12.2rem 2rem;
}

.section-portfolio .grid {
  justify-items: center;
  align-items: center;
  gap: 4.2rem;
}

.portfolio-img {
  height: 100%;
  width: 100%;
  margin-bottom: 0.5rem;
}

.portfolio-name {
  font-size: 2rem;
  text-align: center;
  font-size: 2.8rem;
}

/*************************************/
/* ALBUM */
/*************************************/

.section-album {
  padding: 12.8rem;
  text-align: center;
}

.album-title {
  font-size: 6.8rem;
  margin-bottom: 12.8rem;
}

.section-album .grid {
  display: inline-grid;
  margin-bottom: 9.6rem;
}

.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.album-img {
  height: 100%;
  width: 100%;
}

.album-card .link:link {
  display: block;
}

.album-tag {
  background-color: #f6f6f6;
  padding: 0.1rem 1.6rem;
  border-radius: 5px;

  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  /* margin-top: -1rem; */

  transition: all 0.3s;
}

.album-tag:hover {
  background-color: #e0e0e0;
  color: #333;
}

.album-name {
  font-family: "Bodoni Moda", serif;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  font-style: italic;
}
