.section-portfolio {
  padding: 12.2rem;
}

.section-portfolio .grid {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.portfolio-img {
  height: 30rem;
  width: 50rem;
  margin-bottom: 0.5rem;
}

.portfolio-name {
  font-size: 2rem;
}
