/* *********************** */
/* BELOW 1344PX (Smallet desktop) */
/* *********************** */

@media (max-width: 84em) {
  .intro {
    padding: 0 4rem;
  }

  .testimonials-container {
    padding: 0 4rem;
  }

  .section-booking {
    padding: 9.6rem 4rem;
  }

  .booking-text {
    font-size: 1.8rem;
    padding: 0;
  }
}

/* *********************** */
/* BELOW 1200PX (Landscape tablet) */
/* *********************** */

@media (max-width: 75em) {
  /* 9px i want so 9px/16px = 56.25% */
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 3rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }

  .nav-container {
    padding: 6.8rem 10rem;
  }

  .header-text {
    font-size: 75%;
  }

  .section-booking {
    padding: 8rem 2rem;
  }

  .section-featured {
    padding: 9.6rem 0;
  }
}

/* *********************** */
/* BELOW 944px (tablet) */
/* *********************** */

@media (max-width: 59em) {
  html {
    /* 8px */
    font-size: 50%;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    /* CREATE LAYER */
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    /* CENTER CONTENT */
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease-in;

    /* move to right */
    transform: translateX(100%);

    /* 1 HIDE ELEMENT VISUALLY */
    /* disaply:none allows no transition */
    opacity: 0;
    /* 2 MAKE IT UNNACESIBLE TO MOUSE AND KEYBOARD */
    pointer-events: none;
    /* 3 HIDE IT FROM SCREEEN READER */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
  }
}

/* *********************** */
/* BELOW 818px (small tablet) */
/* *********************** */
@media (max-width: 51em) {
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking-steps div:nth-child(2) {
    border-right: none;
  }

  .booking-steps div:nth-child(3) {
    grid-column: span 2;
    padding: 0 10rem;
  }

  .booking-steps div:nth-child(3) h3 {
    margin-left: 3rem;
  }

  .footer {
    padding: 4rem;
  }

  .footer-container {
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .footer {
    padding: 4rem;
  }

  .footer-container {
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .footer-container div:last-child {
    flex: 100%;
    text-align: center;
  }

  /* INFO PAGE */

  .info-session {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* *********************** */
/* BELOW 544px (phones) */
/* *********************** */
@media (max-width: 34em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .grid {
    gap: 3.2rem;
  }

  .nav-logo {
    width: 20rem;
  }

  .nav-container {
    padding: 6.8rem 2rem;
  }

  .heading-secondary {
    margin-bottom: 6.8rem;
  }

  .intro-textbox {
    margin-bottom: 9.6rem;
  }

  .intro-img {
    text-align: center;
  }

  .testimonials-container {
    row-gap: 0;
  }

  .section-testimonials {
    padding: 9.6rem 2rem;
  }

  .featured-card {
    margin-bottom: 6.2rem;
  }

  .featured-card:last-child {
    margin-bottom: 0;
  }

  .booking-text {
    font-size: 2rem;
  }

  .booking-steps,
  .booking-steps div:nth-child(2) {
    border: none;
  }

  .booking-steps div:nth-child(3) {
    grid-column: 1;
    padding: 0;
  }

  .booking-steps div:nth-child(3) h3 {
    margin-left: 0;
  }

  .booking-step {
    padding: 1rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .about-imgbox {
    text-align: center;
  }

  .info-about,
  .info-session {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .contact-img {
    width: 45rem;
  }

  .contact-greetings {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .session:nth-child(2) .session-imgbox {
    grid-row: 1;
  }
  .session:nth-child(4) .session-imgbox {
    grid-row: 1;
  }

  .portfolio-card {
    margin-bottom: 5.2rem;
  }

  .portfolio-card:last-child {
    margin-bottom: 0;
  }
}

/*
GUIDELINE

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
