* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'EB Garamond', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #343a40;
  background-color: #f7f7f2;
  font-weight: 400;
}

/* Reusable component */

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;

  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  padding: 1rem 3.6rem;
  color: #343a40;
  border: 2px solid #343a40;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #343a40;
  color: #f7f7f2;
}

/* HEADER */
.header {
  height: 100vh;
  background-image: url(/content/header-img.jpg);
  background-size: cover;
  background-position: center center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 6.8rem 20rem;
}

.nav-logo {
  width: 28rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
}

.main-nav-list {
  display: flex;
  gap: 4.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  /* text-transform: uppercase; */
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #6f6f6f;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  /* justify-content: flex-end; */
  padding-top: 1rem;
}

.social-link:link,
.social-link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 2.4rem;

  transition: all 0.3s;
}

.social-link:hover,
.social-link:active {
  color: #6f6f6f;
}

.header-text {
  text-align: center;
  margin-top: 100rem;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: rgb(247, 247, 242);
}

/*************************************/
/*SECTION INTRO*/
/*************************************/

.section-intro {
  padding: 4.8rem 0 9.6rem 0;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.intro-textbox {
  text-align: center;
}

.intro-title {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.intro-text {
  color: #6f6f6f;
  font-size: 1.8rem;
  letter-spacing: 0.08rem;
  margin-bottom: 3.2rem;
}

.intro-img img {
  width: 70%;
}

/*************************************/
/*SECTION QUOTE*/
/*************************************/

.section-quote {
  height: 35rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('/content/section-quote.jpeg');
  background-position: 10% 28%;
}

.quote-text {
  padding-top: 20rem;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-style: italic;
  color: #f7f7f2;
  text-align: center;
}
