/*
GUIDELINE

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* default 10px, want 16px. 10 / 16 = 0.625 = 62.5% */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "EB Garamond", serif;

  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  font-weight: 400;
  overflow-x: hidden;
}

/* Reusable component */

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.heading-primary {
  font-size: 5.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
}

.heading-tertiary {
  font-size: 3rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;

  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 500;
  padding: 1rem 3.6rem;
  color: #333;
  border: 2px solid #333;

  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #333;
  color: #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;

  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #eee;
}

.strong {
  font-weight: 500;
}

.normal-font {
  font-style: normal;
}

.small-header {
  height: 30vh;

  background-image: url(/content/header-img.jpg);
  background-size: cover;
}

/* *********************** */
/* MOBILE */
/* *********************** */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;

  position: absolute;
  top: 4rem;
  right: 5rem;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* HEADER */
.header {
  height: 100vh;
  background-image: url(/content/header-img.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;

  font-family: "Bodoni Moda", serif;
  font-weight: 400;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 9.6rem;
  padding: 6.8rem 20rem;
}

.nav-logo {
  width: 28rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9.6rem;
}

.main-nav-list {
  display: flex;
  gap: 4.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: inherit;

  transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eee;
}

.header-text {
  font-size: 2.8rem;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.2rem;
  color: #fff;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************************/
/*SECTION INTRO*/
/*************************************/

.section-intro {
  padding: 12.8rem 0;
}

.intro {
  align-items: center;
}

.intro-textbox {
  text-align: center;
}

.intro-title {
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.intro-text {
  color: #555;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  margin-bottom: 4.2rem;
}

.intro-text span {
  font-weight: 700;
}

.intro-img {
  align-items: center;
  justify-content: center;
}

.intro-img img {
  width: 80%;
}

/*************************************/
/*SECTION TESTIMONIALS */
/*************************************/

.section-testimonials {
  background-color: #f6f6f6;
}

.testimonials-container {
  height: 50rem;
  align-items: center;
  justify-items: center;
}

.testimonial-text {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.testimonial-name {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
  color: #777;
}

/*************************************/
/*SECTION FEATURED STORIES */
/*************************************/

.section-featured {
  padding: 12.8rem 0;
}

.featured-title {
  text-align: center;
  font-style: italic;
  margin-bottom: 9.6rem;
  letter-spacing: 0.4rem;
  font-weight: 400;
}

.featured-gallery {
  row-gap: 6.2rem;
  margin-bottom: 9.6rem;
}

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-img {
  width: 30rem;
  height: 30rem;
  transition: all 0.4s;
  margin-bottom: 2rem;
}

.featured-img:hover {
  transform: scale(1.1);
}

.featured-tag {
  display: block;
  background-color: #f6f6f6;
  padding: 0.1rem 1.6rem;
  border-radius: 5px;

  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  /* margin-bottom: 0.4rem; */
}

.featured-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  /* font-style: italic; */
}

.featured-btn {
  text-align: center;
}

.featured-btn .btn {
  font-size: 1.8rem;
}

/*************************************/
/*SECTION  BOOKING*/
/*************************************/

.section-booking {
  padding: 12.8rem;
  background-color: #f6f6f6;
}

.booking-title {
  text-align: center;
  margin-bottom: 9.6rem;
  font-weight: 400;
}

.booking-steps {
  gap: 4.8rem;
  text-align: center;
  border-top: 1px solid #333;
}

.booking-steps div:nth-child(2) {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  padding: 0 2rem;
}

.booking-step {
  font-size: 3.6rem;
  padding: 3.2rem;
  margin-bottom: 2.4rem;
}

.booking-text {
  font-size: 2.4rem;
  padding: 0 3.2rem;
}

.booking-text .link {
  font-weight: 500;
}

/*************************************/
/*SECTION  INSTAGRAM*/
/*************************************/

.section-instagram {
  padding: 9.6rem;
}

/*************************************/
/*FOOTER*/
/*************************************/

.footer {
  background-color: #f6f6f6;
  padding: 2.8rem 9.6rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 6rem;
}

.footer-nav {
  font-size: 1.6rem;
  justify-content: center;
}

.footer-nav-list {
  display: flex;
  gap: 4.2rem;
  list-style: none;
}

.footer-nav .main-nav-link {
  font-size: 1.2rem;
}

.footer-text {
  color: #555;
  font-size: 1.4rem;
}
